
<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Du Lịch Bụi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Assets/Client/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Client/css/animate.css">

    <link rel="stylesheet" href="/Assets/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Assets/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Assets/Client/css/magnific-popup.css">
    <link rel="stylesheet" href="/Assets/Client/css/aos.css">
    <link rel="stylesheet" href="/Assets/Client/css/ionicons.min.css">
    <link rel="stylesheet" href="/Assets/Client/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/Assets/Client/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/Assets/Client/css/flaticon.css">
    <link rel="stylesheet" href="/Assets/Client/css/icomoon.css">
    <link rel="stylesheet" href="/Assets/Client/css/style.css">
</head>
<body>
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">
        <nav id="colorlib-main-menu" role="navigation">
            @{
                var ten = (DuLichBui.Common.TaiKhoanLogin)Session[DuLichBui.Common.CommonConstants.USER_SESSION];
            }
            @if (ten == null)
            {
                <ul>
                    <li class="colorlib-active"><a href="/trang-chu">Trang chủ</a></li>
                    <li><a href="/am-thuc">Khám phá</a></li>
                    <li><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
            }
            else
            {
                <ul>
                    <li class="colorlib-active"><a href="/trang-chu">Trang chủ</a></li>
                    <li><a href="/am-thuc">Khám phá</a></li>
                    <li><a href="/gioi-thieu">Giới thiệu</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                    <li><a href="/dang-bai">Đăng bài</a></li>
                </ul>
            }

        </nav>
        <div class="colorlib-footer">
            <h1 id="colorlib-logo" class="mb-4"><a href="/trang-chu" style="background-image: url(/Assets/client/images/bg_1.jpg);">Du Lich <span id="bui">BUj</span></a></h1>
            <div class="mb-4">
                <h3>Đăng kí nhận bảng tin</h3>
                <form action="#" class="colorlib-subscribe-form">
                    <div class="form-group d-flex">
                        <div class="icon"><span class="icon-paper-plane"></span></div>
                        <input type="text" class="form-control" placeholder="Nhập địa chỉ email...">
                    </div>
                </form>
            </div>
            <p class="pfooter">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved <a href="/trang-chu" id="logo-bui" target="_blank">DuLichBui.vn</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </aside> <!-- END COLORLIB-ASIDE -->

    @RenderBody()


    @RenderSection("Listinforight", required: false)



    </div><!-- END COLORLIB-PAGE -->
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="/Assets/Client/js/jquery.min.js"></script>
    <script src="/Assets/Client/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/Assets/Client/js/popper.min.js"></script>
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    <script src="/Assets/Client/js/jquery.easing.1.3.js"></script>
    <script src="/Assets/Client/js/jquery.waypoints.min.js"></script>
    <script src="/Assets/Client/js/jquery.stellar.min.js"></script>
    <script src="/Assets/Client/js/owl.carousel.min.js"></script>
    <script src="/Assets/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="/Assets/Client/js/aos.js"></script>
    <script src="/Assets/Client/js/jquery.animateNumber.min.js"></script>
    <script src="/Assets/Client/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/Assets/Client/js/google-map.js"></script>
    <script src="/Assets/Client/js/main.js"></script>

</body>
</html>